{% macro githubreposwidget() %}
  <div id="github_repos_widget_wrapper"></div>

  <script type="text/javascript" src="/svelteComponents/github_repos_widget/bundle.js" async defer></script>
  <script type="text/javascript" src="/svelteComponents/github_repos_widget/bundle.js.map" async defer></script>

  <link rel="preload" href="/svelteComponents/github_repos_widget/bundle.css" as="style">
  <link rel="stylesheet" href="/svelteComponents/github_repos_widget/bundle.css" />

  <style>
  #github_repos_widget_wrapper {
    margin-top: auto;
  }
  </style>

{% endmacro %}
