{% macro githubreposwidget() %}
  <div id="github_repos_widget"></div>

  <script type="text/javascript" src="/svelteComponents/github_repos_widget/bundle.js" async defer></script>
  <script type="text/javascript" src="/svelteComponents/github_repos_widget/bundle.js.map" async defer></script>

  <link rel="stylesheet" href="/svelteComponents/github_repos_widget/bundle.css" />

{% endmacro %}
