{% macro githubreposwidget(params) %}
  <div id="github_repos_widget_wrapper" class="github_repos_widget_wrapper" data-direction="{{params.direction}}"></div>

  <script type="text/javascript" src="/svelteComponents/github_repos_widget/bundle.js" async defer></script>

  <link rel="preload" href="/svelteComponents/github_repos_widget/bundle.css" as="style">
  <link rel="stylesheet" href="/svelteComponents/github_repos_widget/bundle.css" />

{% endmacro %}
