<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>{{ locals.title }}</title>

  <link rel="stylesheet" href="/main.css?{{ cacheBust.mainCss }}" />
{#
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Roboto+Mono:wght@100;400;700&display=swap" rel="stylesheet"> #}

  {% include 'meta.njk' %}

  <script>
    {# if ("serviceWorker" in navigator) {
      navigator.serviceWorker.register("/service-worker.js");
    } #}
  </script>
</head>
