<head>
  {% include 'analytics.njk' %}

  {% if environment.isProd %}
    <!-- INJECT INLINE CSS -->
  {% else %}
    <link rel="preload" href="/main.css?{{ cacheBust.mainCss }}" as="style">
    <link rel="stylesheet" href="/main.css?{{ cacheBust.mainCss }}" />
  {% endif %}

  <link rel="preconnect" href="https://api.npmjs.org">
  <link rel="preconnect" href="https://api.github.com">
  <link rel="preconnect" href="https://www.google-analytics.com">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  {% if googleFont %}
    {{ googleFont | safe }}
  {% else %}
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" as="style" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap">
  {% endif %}

  {% include 'meta.njk' %}

  <link rel="manifest" href="/manifest.json" />

  {% if environment.isProd and environment.siteVersion > '2.0.0' %}
  <script>
    window.addEventListener('load', () => {
    navigator.serviceWorker
      .register("/service-worker.js")
      .then(function() {
        console.log("ServiceWorker has been registered!");
      })
      .catch(console.error);
    });
  </script>
  {% endif %}
</head>
