<div class="menu menu--header">
  <ul>
    {% for menuItem in menus.headerMenu %}
      {% if '/' == menuItem.link %}
        {% set urlTrailingSlash = menuItem.link %}
      {% else %}
        {% set urlTrailingSlash = menuItem.link + '/' %}
      {% endif %}
      <li>
        <a href="{{ menuItem.link }}" title="{{ menuItem.metaTitle }}" class="{{ 'active' if urlTrailingSlash == page.url }}">{{ menuItem.title }}</a>
      </li>
    {% endfor  %}
  </ul>
</div>


