
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>

<title>{{ title }} {% if page.url !== '/' %}| Chris Snowden {% endif %}</title>

<meta name="description" content="Chris Snowden is a Lead Software Engineer (Full-Stack) in the UK using C#/.NET, TypeScript/React (Next.js), Node and SQL plus some Go and Python. Using mostly Azure for cloud infrastructure." />

<meta name="keywords" content="Chris Snowden, Snowden, portfolio, Azure, C#, .Net, Go, Python, React, Vue, developer, web, web developer, software engineer, UK"/>

<meta name="author" content="Chris Snowden"/>

<meta name="robots" content="index, follow"/>

<!-- favicons -->
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | url }}" />
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />
<link rel="manifest" href="{{ '/manifest.json' | url }}" />
<meta name="theme-color" content="#090713" />
