<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Chris Snowden | Front-End Developer</title>
<meta name="description" content="Chris Snowden is a Front-End Developer from Wiltshire, UK. He specialises in Javascript and CSS and is proficient at building modern web sites and web applications using CMSs such as WordPress and 11ty and modern web frameworks including Vue.js, Nuxt and Svelte." />

<meta name="keywords" content="Chris Snowden, Snowden, portfolio, Vue, Nuxt, frontend, front end, developer, Swindon, agency"/>

<meta name="author" content="Chris Snowden"/>

<meta name="robots" content="index, follow"/>

<!-- favicons -->
<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | url }}" />
<link rel="shortcut icon" href="{{ '/favicon.ico' | url }}" />
<link rel="manifest" href="{{ '/manifest.json' | url }}" />
<meta name="theme-color" content="#090713" />
