{% macro contactform(params) %}

  <form id="contact-form" method="post">
    <h2>{{ params.title }}</h2>
    <p>Fill out the form below and I will get back to you asap 🙌</p>

    <fieldset>
      <label for="name">Name</label>
      <input placeholder="John Doe" name="name" type="text" required autofocus>
    </fieldset>
    <fieldset>
      <label for="email">Email</label>
      <input placeholder="john.doe@gmail.com" name="email" type="email" required>
    </fieldset>
    <fieldset>
      <label for="subject">Enquiry type</label>
      <input placeholder="Just saying hi" name="subject" type="text">
    </fieldset>
    <fieldset>
      <label for="message">Message</label>
      <textarea placeholder="Hello!" name="message" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-form-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>

{% endmacro %}
