{% macro pagetitleblock(params) %}
  <section class="page-title-container {{ 'centered' if params.centered }}">

    <div class="page-title-container__subtitles">
      {{ params.slot | safe }}
    </div>

  </section>
{% endmacro %}
