{% macro socialicons(params) %}
<div class="social-icons {{ 'fixed' if params.fixed }}">
  <a href="https://github.com/Recidvst/" title="View my GitHub profile" target="_blank" rel="noopener noreferrer">
    <i class="nes-icon github"></i>
  </a>
  <a href="https://uk.linkedin.com/in/cdsnowden" title="View my LinkedIn profile" target="_blank" rel="noopener noreferrer">
    <i class="nes-icon linkedin"></i>
  </a>
  <a href="mailto:cdsnowden@gmail.com" title="Send me an email">
    <i class="nes-icon gmail"></i>
  </a>
</div>
{% endmacro %}
