<!DOCTYPE html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {% include 'menu.njk' %}

    <section class="page-container page-container--centred">

      {{ content | safe }}

    </section>

    <script type="text/javascript" src="/main.js"></script>
  </body>

</html>
