<!DOCTYPE html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    <section class="page-container">

      {{ content | safe }}

    </section>

    {% include 'lines.njk' %}

    <script type="text/javascript" src="/main.js"></script>
  </body>

</html>
