<!DOCTYPE html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {% include 'menu.njk' %}

    <section class="page-container">

      {{ content | safe }}

    </section>

    {%- from "../_includes/_macros/socialicons.njk" import socialicons -%}
    {{ socialicons({
      fixed: true
    }) }}

    {%- from "../_includes/_macros/speedlify.njk" import speedlifywebcomponent -%}
    {{ speedlifywebcomponent({
      url: page.url
    }) }}

    {% include 'lines.njk' %}

    <script type="text/javascript" src="/main.js"></script>
  </body>

</html>
