---
title: Contact Me
layout: centered.njk
priority: 2
formtitle: Get In Touch
---

{%- from "../_includes/_macros/pagetitleblock.njk" import pagetitleblock -%}
{%- from "../_includes/_macros/socialicons.njk" import socialicons -%}
{%- from "../_includes/_macros/forms.njk" import contactform -%}

<!-- Declaring Slot Content for the page title block-->
{% set titleContent %}
  <h2>Fill out the form below and I will get back to you asap!</h2>
{% endset %}

{% include 'lines-contact.njk' %}

{{ pagetitleblock({
  slot: titleContent,
  centered: true
}) }}

{{ contactform({
  title: 'Get in touch'
}) }}

{{ socialicons() }}
