---
title: Work
layout: default.njk
---

<section class="page-container page-container--two-col">

  <div class="content-col content-col--full-width">

    <h1> {{ title }} </h1>

    {% for post in collections.projects %}
      {% if post.url == '/posts/projects_blurb/' %}
        {{ post.templateContent | safe }}
      {% endif %}
    {% endfor %}

    <br/>

  </div>

  <div class="content-col content-col--two-col content-col--full-width-mobile">

    <div>
      {% for post in collections.projects %}
        {% if post.url == '/posts/projects_apps/' %}
          {{ post.templateContent | safe }}
        {% endif %}
      {% endfor %}
    </div>

    <div>
      {% for post in collections.projects %}
        {% if post.url == '/posts/projects_websites/' %}
          {{ post.templateContent | safe }}
        {% endif %}
      {% endfor %}
    </div>

  </div>

  <div class="content-col content-col--full-width-mobile">

    {%- from "../_includes/_macros/svelte/github_repos_widget.njk" import githubreposwidget -%}

    {{ githubreposwidget({
      direction: 'column'
    }) }}

  </div>

</section>

<style>
.page-container--two-col {
  max-width: 1800px;
  margin: 0 auto;
}
@media (max-width: 1799px) {
.page-container--two-col {
  max-width: 100%;
}
}
h3 {
  color: #21bfc2;
}
ul {
  list-style-type: circle;
  padding-left: 20px;
}
hr {
  margin-top: 15px;
  margin-bottom: 30px;
  border-color: #6c6f93;
}
a {
  color: #e9436f;
}
a:hover {
  color: #e95379;
}
i, em {
  color: #21bfc2
}
strong {
  text-decoration: underline;
}
blockquote {
  max-width: 1000px;
  margin: auto;
  font-size: 1.25rem;
}
@media (max-width: 999px) {
blockquote {
  max-width: 100%;
}
}
.github-repos-widget {
  margin: auto;
}
</style>
