// basics
$black: #333;
$white: #fff;
// pinks
$darker-black: #0d0d0d;
$pink: #ed1cdc;
$pink-dark: #790072;
// blues
$blue: #bde1ff;
$blue-dark: #0080e2;
$blue-darker: #004097;
// blacks
$blue-black: #1d1836;
$purple-black: #090713;

// font
$family-primary: 'EB Garamond', serif;
$family-secondary: 'Hind Siliguri', sans-serif;
