// forms

#contact-form-container {
  display: block;
  margin: 30px 0;
  width: 750px;
  max-width: 90vw;
  @media(max-width: 767px) {
    margin: 30px auto;
  }
  form {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    div {
      display: block;
      width: 100%;
      margin: 4px 0;
      label {
        position: relative;
        display: block;
        width: 100%;
        input, textarea {
          display: block;
          margin: 16px 0;
          padding: 8px 2px;
          width: 100%;
          max-width: 100%;
          font-family: $family-primary;
        }
      }
      a, button, .button {
        display: block;
        margin: 15px auto 30px 0;
      }

      // input wrapper
      .input-wrapper {
        position: relative;
        display: block;
        input, textarea {
          background: none;
          border: none;
          outline: none;
          padding: 20px 25px;
          color: $white;
          border: 1px solid $white;
          border-radius: 8px;
        }
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 2px solid rgba(255,255,255, 0.9);
          border-radius: 8px;
          box-shadow: 0 0 10px 2px $blue, 0 0 10px 2px $blue-dark, inset 0 0 10px 2px $blue, inset 0 0 10px 2px $blue-dark;
          transition: all .2s ease;
          z-index: -1;
          opacity: 1;
        }
        &.active-input {
          &:before {
            box-shadow: 0 0 10px 2px $pink, 0 0 10px 2px $pink-dark, inset 0 0 10px 2px $pink, inset 0 0 10px 2px $pink-dark;
          }
        }
      }
    }


    // honeypot hide
    .middle-name {
      visibility: hidden;
      opacity: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }
}


// form related bits
ul.alternative-contact-methods {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    float: left;
    margin: 8px 10px;
  }
}