// header
header#header {
  display: block;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;

  ul.header-menu {

    li {
      display: inline-block;
    }
  }

  // logo
  #logo {
    margin: 0 auto 0 0;
  }

  // sticky
  &.sticky {

  }

  // mobile
  @media(max-width: 767px) {
  }
}
