// chris snowden title
.homepage-title-container {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // grid bit
  grid-row: 2 / span 1;

  .homepage-title-blurb {
    margin: 20px 0;
  }
  
  @media(max-width: 767px) {
    h1, h2, h3 {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }  
    .homepage-title-blurb {
      margin: 10px 0;
    }
  }
}
