// images //

// logos
.logo {
  max-width: 30px;
  &.github {

  }
  &.large-logo {
    max-width: 50px;
  }
}

// github absolute logo
#githubFixed {
  position: absolute;
  right: 20px;
  bottom: 15px;
  opacity: 0.3;
  transition: all .2s ease;
  &:hover {
    opacity: 0.6;
  }
  @media (max-width: 767px) {
    position: relative;
    right: unset;
    bottom: unset;
  }
}