// neon background grid

.neon-grid {
  position: absolute;
  bottom: 0;
  right: 0;
  g {
    path {
      stroke: none;

      fill: $pink;
      // box-shadow: 0 0 15px 4px $pink, 0 0 120px 2px $pink-dark, inset 0 0 15px 4px $pink, inset 0 0 50px 2px $pink-dark;
      filter: box-shadow( 3px 3px 2px $pink);
    }
  }
}
