// typography

// fonts
@font-face {
  font-family: Neoneon;
  src: url("../fonts/Neoneon.woff") format("woff"), 
       url("../fonts/Neoneon.otf")  format("opentype");
}
@font-face {
  font-family: StudioNeon;
  src: url("../fonts/StudioNeon.woff") format("woff"), 
       url("../fonts/StudioNeon.otf")  format("opentype");
}

$family-primary: 'Open Sans', sans-serif;
$family-neon-primary: 'Neoneon', sans-serif;
$family-neon-secondary: 'StudioNeon', sans-serif;

// titles
h1, .title {
  display: block;
  margin: 15px 0;
  font-family: $family-neon-primary;
  font-size: 5rem;
  font-weight: 100;
  color: $white;
  letter-spacing: 2px;
  text-shadow: 0 0 20px $pink, 0 0 20px $pink-dark;
  &.flicker-title {
    animation: flickerRepeatPink 8s linear infinite;
    animation-delay: 1s;
  }
}

h2 {
  display: block;
  margin: 10px 0 15px;
  font-family: $family-neon-secondary;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: $white;
  // text-shadow: 0 0 20px $blue-dark, 0 0 20px $blue-darker;
  // text-shadow: 0 0 20px $pink, 0 0 20px $pink-dark;
}
h3 {
  display: block;
  margin: 10px 0 15px;
  font-family: $family-neon-secondary;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: 0 0 20px $blue-dark, 0 0 20px $blue-darker;
}

// mobile
@media(max-width: 767px) {
  h1, .title {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;    
  }
}

// links 
a {
  color: $blue;
  text-decoration: none;
  &:hover, &focus, &:active {
    color: $blue-darker;
  }
}
