---
title: Chris Snowden
layout: default.njk
priority: 1
---

{%- from "./_includes/_macros/pagetitleblock.njk" import pagetitleblock -%}
{%- from "./_includes/_macros/svelte/github_repos_widget.njk" import githubreposwidget -%}

<!-- Declaring Slot Content for the page title block-->
{% set titleContent %}
    <h2>Full Stack Software Engineer</h2>
    <p>Currently working at SSE in the UK as a Senior Engineer.</p>
    <p>Right now I'm mostly using C#/.NET, React/Next.js, Node and Go. Using Azure for cloud infrastructure.</p>
    <p>Skilled at using modern technologies to create websites, web applications, APIs, Microservices, development tooling and infrastructure to the highest of standards. Good recent experience in technical leadership, architecture and mentoring. </p>
{% endset %}

{% include 'lines-name.njk' %}
{% include 'lines-name-stacked.njk' %}

{{ pagetitleblock({
  slot: titleContent
}) }}

{{ githubreposwidget({
  direction: 'row'
}) }}
