---
title: Chris Snowden
layout: default.njk
priority: 1
---

{%- from "./_includes/_macros/pagetitleblock.njk" import pagetitleblock -%}
{%- from "./_includes/_macros/svelte/github_repos_widget.njk" import githubreposwidget -%}

<!-- Declaring Slot Content for the page title block-->
{% set titleContent %}
    <h2>Front-end web developer from Wiltshire, UK</h2>
    <p>Currently working in Vue.js, Nuxt.js, Node.js and WordPress</p>
    <p>Skilled in JS (ES6+), SCSS, SPAs, templating with CMSs, static sites, CI/CD, unit testing</p>
    <p>Getting interested in Svelte.js, 11ty, Python and Go</p>
{% endset %}

{{ pagetitleblock({
  title: title,
  slot: titleContent
}) }}

{{ githubreposwidget() }}
