---
title: Chris Snowden
layout: default.njk
priority: 1
---

{%- from "./_includes/_macros/pagetitleblock.njk" import pagetitleblock -%}
{%- from "./_includes/_macros/svelte/github_repos_widget.njk" import githubreposwidget -%}

<!-- Declaring Slot Content for the page title block-->
{% set titleContent %}
    <h2>Full stack web developer from Wiltshire, UK</h2>
    <p>Currently working mostly with React, Next.js, Tailwind, Node and Azure</p>
    <p>Previously working with Vue, Nuxt, 11ty, CraftCMS, WordPress, Linux</p>
    <p>Skilled with JS, CSS, SPAs, templating with CMSs, static sites, CI/CD, unit testing</p>
    <p>Getting interested in Svelte.js, Go and C#/.NET</p>
{% endset %}

{{ pagetitleblock({
  title: title,
  slot: titleContent
}) }}

{{ githubreposwidget({
  direction: 'row'
}) }}
