// animations

// repeating flicker for neon title
@keyframes flickerRepeatPink {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  3% {
    opacity: 0.6;
  }
  4% {
    opacity: 0.2;
    // color: $white;
    text-shadow: 0 0 5px $white;
  }
  5% {
    opacity: 1;
    // color: $neon-pink;
    text-shadow: 0 0 20px $neon-pink, 0 0 20px $neon-pink-dark;
  }
  100% {
    opacity: 1;
  }
}
// hover flicker for subtitles
@keyframes flickerSubtitles {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  3% {
    opacity: 0.6;
  }
  4% {
    opacity: 0.2;
    // text-shadow: 0 0 5px $white;
  }
  5% {
    opacity: 1;
    // text-shadow: 0 0 10px $neon-blue-dark, 0 0 15px $neon-blue-dark, 0 0 25px $neon-blue-dark, 0 0 40px $neon-blue-darker;
  }
  100% {
    opacity: 1;
  }
}
// fizzle (hover) for neon sign
@keyframes fizzleBorder {
  0% {
    opacity: 0.3;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.4;
    box-shadow: 0 0 15px 4px $neon-blue, 0 0 120px 2px $neon-blue-dark,
      inset 0 0 15px 4px $neon-blue, inset 0 0 50px 2px $neon-blue-dark;
  }
  30% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.9;
  }
  95% {
    opacity: 0.1;
    box-shadow: 0 0 15px 4px $neon-pink, 0 0 120px 2px $neon-pink-dark,
      inset 0 0 15px 4px $neon-pink, inset 0 0 50px 2px $neon-pink-dark;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes fizzleText {
  0% {
    opacity: 0.3;
    text-shadow: none;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
    text-shadow: 0 0 10px $neon-blue-dark, 0 0 15px $neon-blue-dark,
      0 0 25px $neon-blue-dark, 0 0 40px $neon-blue-darker;
  }
  60% {
    opacity: 0.2;
    text-shadow: none;
  }
  80% {
    opacity: 0.2;
  }
  90% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.2;
    text-shadow: none;
  }
  100% {
    opacity: 0.6;
    text-shadow: 0 0 10px $neon-blue-dark, 0 0 15px $neon-blue-dark,
      0 0 25px $neon-blue-dark, 0 0 40px $neon-blue-darker;
  }
}
