// buttons
a.button,
button {
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    color: $neon-pink;
  }

  // variants
  &.button-simple {
    position: relative;
    display: block;
    padding: 10px 30px 14px;
    margin: 30px auto;
    border: 1px solid $neon-blue;
    text-align: center;
    z-index: 1;
    max-width: 100%;
    overflow: visible;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color: $neon-blue;
    font-family: $family-neon-secondary;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: all 0.2s ease;
    &:hover,
    &:focus,
    &:active {
      background: $neon-blue;
      color: $neon-pink;
    }
  }
}
