// buttons
a.button,
button {
  &:hover,
  &:focus,
  &:active {
    // cursor: pointer;
    color: $neon-pink;
  }

  // variants
  &.button-simple {
    position: relative;
    display: block;
    padding: 10px 30px 14px;
    margin: 30px auto;
    border: 1px solid $neon-blue;
    text-align: center;
    z-index: 1;
    max-width: 100%;
    overflow: visible;
    background: transparent;
    text-transform: uppercase;
    text-decoration: none;
    color: $neon-blue;
    font-family: $family-neon-secondary;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: all 0.2s ease;
    &:hover,
    &:focus,
    &:active {
      background: $neon-blue;
      color: $neon-pink;
    }
  }
}

.social-icons {
  // fixed to side version
  &.fixed {
    position: fixed;
    top: 50%;
    top: calc(50% - 100px);
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    @media (max-width: 1023px) {
      top: 100%;
      top: calc(100% - 200px);
      right: 0;
    }
  }
  a {
    display: inline-block;
    padding: 5px 10px;
    &:hover {
      .nes-icon {
        filter: hue-rotate(89deg);
      }
    }
  }
  .nes-icon {
    transform-origin: center center;
    transform: scale(3);
    margin-right: 32px;
    margin-bottom: 32px;
    transition: all 0.2s ease;
    @media (max-width: 1023px) {
      transform: scale(2);
      margin-right: 16px;
      margin-bottom: 16px;
    }
  }
}
