body {
  position: relative;
  margin: 0 auto;
  color: $neon-blue;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;

  // set limits
  max-width: 2560px;
  @media (max-width: 2559px) {
    max-width: 100vw;
  }

  background: $neon-purple-black; // base
  background: linear-gradient(
    to left top,
    #090713,
    #100d1c,
    #141224,
    #18152d,
    #1d1836
  ); // gradient
  // gradient + pattern
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231d1836' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
    linear-gradient(to left top, #090713, #100d1c, #141224, #18152d, #1d1836);

  // default page wrapper
  .page-container {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
    padding: 15px 30px;
    z-index: 1;
    @media (max-width: 767px) {
      padding: 15px 15px;
    }

    &.page-container--centred {
      align-items: center;
    }
  }

  // main title blocks on pages
  .page-title-container {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 15px;

    &.centered {
      text-align: center;
    }

    .page-title-container__subtitles {
      padding-left: 5px;
      > p {
        font-size: 1.25rem;
      }
    }

    .logos-container {
      position: relative;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      > a {
        margin: 10px 10px;
      }
      #email-link {
        flex-basis: 100%;
        text-align: center;
        font-family: $family-neon-secondary;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
      #copiedNotice {
        display: none;
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translate(-50%);
        font-famiy: $family-primary;
        color: $neon-blue;
        font-size: 0.75rem;
        font-weight: 100;
        font-style: italic;
      }
      &.clicked {
        #copiedNotice {
          display: block;
        }
      }

      // social media logo links
      .logo {
        display: block;
        height: auto;
        width: 100%;
        width: 45px;
        opacity: 0.6;
        &:hover {
          opacity: 0.8;
          animation-name: pulseGrow;
          animation-duration: 1.3s;
          animation-timing-function: ease-in-out;
        }
        @media (max-width: 767px) {
        }
        // adjust
        &.github {
          width: 45px;
        }
        &.linkedin {
          width: 42px;
        }
        &.email {
          width: 50px;
        }
      }

      @keyframes pulseGrow {
        0% {
          transform: scale(1);
        }
        14% {
          transform: scale(1.3);
        }
        28% {
          transform: scale(0.8);
        }
        42% {
          transform: scale(1.2);
        }
        70% {
          transform: scale(1);
        }
      }
    }
  }
}
