// typography

// fonts

// main neon title font
@font-face {
  font-family: Ironlounge;
  src: url('../fonts/Ironlounge.woff') format('woff'),
    url('../fonts/Ironlounge.otf') format('opentype');
}
// subsidiary neon font
@font-face {
  font-family: Axaxax;
  src: url('../fonts/Axaxax.woff') format('woff'),
    url('../fonts/Axaxax.otf') format('opentype');
}
// main lower headings and paragraph font
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-700.woff') format('woff'),
    url('../fonts/Raleway-700.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Roboto Mono;
  src: url('../fonts/Roboto-Mono-Regular.woff') format('woff'),
    url('../fonts/Roboto-Mono-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto Mono;
  src: url('../fonts/Roboto-Mono-700.woff') format('woff'),
    url('../fonts/Roboto-Mono-700.ttf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
// NES font
@font-face {
  font-family: Press Start 2p;
  src: url('../fonts/PressStart2P-Regular.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Raleway';
  color: $blue-gray;
}

// titles
h1 {
  display: block;
  margin: 15px 0;
  font-size: 2rem;
  font-weight: 400;
  color: $white;
  &.neon-title {
    font-family: $family-neon-primary;
    min-width: 700px;
    @media (max-width: 767px) {
      font-size: 2rem;
      min-width: 0;
    }
  }
}

h2 {
  display: block;
  margin: 10px 0 15px;
  font-family: 'Raleway';
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $yellow;
  &.flicker {
    &:hover {
      cursor: pointer;
      animation: flickerSubtitles 8s linear;
    }
  }
  &.subtitle {
    display: inline-block;
    width: 100%;
    max-width: 700px;
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
}

h3 {
  display: block;
  margin: 10px 0 15px;
  font-family: 'Raleway';
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: 1px;
  color: $green;
}

// links
a {
  color: $green;
  text-decoration: none;
  &:hover,
  &focus,
  &:active {
    color: $blue-bright;
  }
}
